/* ----- 헤더 백그라운드 ----- */

.main-title {
    position: relative;

    width: 100%;
    height: 300px;
    background: #333;
}

.main-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-title h2 {
    position: absolute;
    bottom: 40px;
    left: 60px;

    color: #fff;
    font-size: 35px;
    font-weight: 600;
}


/* ------ 슬라이드 아이템 ------ */

#main {
    padding: 0 60px;
}

#main .item {
    width: 432px;
}

#main .swiper-slide {
    width: 432px;
    height: 432px;
}

#main .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 바텀텍스트 */

#main .bottom {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

#main .text {
    display: flex;
    align-items: center;

    margin-bottom: 3px;
}

#main .text p {
    position: relative;

    font-size: 16px;
    color: #444;
    font-weight: 500;
}

#main .text span {
    font-size: 12px;
    font-weight: 400;
    color: #888;

    position: relative;
    display: inline-block;
    padding-left: 6px;
    margin-left: 6px;
}

#main .text span::before {
    position: absolute;
    content: '';

    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 1px;
    height: 8px;
    background-color: #7F7F7F;
}

#main .price {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    
    transition: 0.2s;
}

#main .price:hover {
    color: #C53F3F;
    cursor: pointer;
}

/* 이미지 스크롤 바 CSS */

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 3px;
}

#main .swiper-scrollbar-drag {
    background: #aaa;
}

/* 호버시 양옆 < > 생성 */

#main .imgSwiper {
    position: relative;
}

#main .imgSwiper::after {
    content: '〈';
    position: absolute;
    z-index: 99;

    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    
    font-size: 35px;
    color: #777;

    opacity: 0;
    transition: 0.2s ease-out;
}

#main .imgSwiper::before {
    content: '〉';
    position: absolute;
    z-index: 99;

    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    
    font-size: 35px;
    color: #777;

    opacity: 0;
    transition: 0.2s ease-out;
}

#main .imgSwiper:hover::before,
#main .imgSwiper:hover::after {
    opacity: 1;
}

/* 하트 호버 이벤트 */

#main .right {
    position: relative;
}

#main .heart0 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#main .heart1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0;
    transition: 0.2s ease-out;
}