@import url(../font/Britz/stylesheet.css);
@import url(../font/Copy/stylesheet.css);
@import url(../font/Pretendard/pretendard.css);
@import url(../font/Kopub/stylesheet.css);

/* --------------------- RESET CSS -------------------- */

body {
    width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Pretendard';

    line-height: 1;

    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    white-space: nowrap;
}

img, video {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    all: unset;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

input {
    all: unset;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

/* -------- Z-index 수치 -------- */

#mobile-tab-menu {
    z-index: 9999;
}

#header {
    z-index: 8888;
}

#search {
    z-index: 7777;
}

#gnb {
    z-index: 6666;
}

#overlay {
    z-index: 5555;
}

/* ----------------- 애니메이션 영역 -------------- */

#overlay.active {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0,0.5);

    z-index: 999;
}

#header {
    transition: background-color 300ms ease-out, color 300ms ease-out;
}

#header .nav li {
    transition: color 300ms ease-out;
}

#header h1 a {
    transition: color 300ms ease-out;
}

#header .util svg {
    transition: fill 300ms ease-out;
}

#gnb {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

#gnb.show {
    opacity: 1;
    visibility: visible;
}

#search {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

#search.show {
    opacity: 1;
    visibility: visible;
}

/* #header가 active 상태일 때 */
#header.active {
    background-color: #fff !important;
    color: #000 !important;
}

/* .nav li가 active 상태일 때 */
#header.active .nav li {
    color: #000 !important;
}

/* h1 a가 active 상태일 때 */
#header.active h1 a {
    color: #000 !important;
}

/* .util svg가 active 상태일 때 */
#header.active .util svg {
    fill: #000 !important;
}

.swiper-slide {
    overflow: hidden;
}

/* ---------------------  FIXED HEADER CSS -------------------- */

/*----------------- NAV -------------------*/

#header {
    width: 100%;
    height: 90px;

    padding: 0 60px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    white-space: nowrap;

    transition: 0.2s ease-out;
}

#header h1 a {
    display: block;
    font-family: 'Britz';
    margin-top: 10px;
    color: #fff;

}

#header .nav {
    display: flex;
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
}

#header .nav li {
    width: 170px;
    line-height: 90px;
    text-align: center;

    font-size: 20px;
    font-weight: 600;

    color: #fff;

    transition: 0.2s ease-out;
}

#header .util {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header .util li {
    width: 28px;
}

#header .util img {
    width: 100%;
}

#header.active {
    background-color: #fff !important;
}
#header.active .nav li {
    color: #000 !important;
}

#header .util li:last-child{
    display: none;
}

/*----------------- GNB 드롭다운 -------------------*/

#gnb {
    border-top: 1px solid rgba(0, 0, 0,0.2);

    position: fixed;

    width: 100%;
    height: 350px;
    background: #fff;

    top: 90px;
}

#gnb .wrap {
    display: flex;
    padding-top: 32px;

    position: absolute;
    top: 0;
    left: 47%;
    transform: translateX(-50%);

}

#gnb ul {
    width: 170px;
}

#gnb ul li {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#gnb ul li:hover {
    cursor: pointer;
}

#gnb li:hover {
    opacity: 0.6;
}

/*------------------ SEARCH 드롭다운 --------------------*/

#search {
    border-top: 1px solid rgba(0, 0, 0,0.2);

    width: 100%;
    height: 380px;
    background: #fff;

    position: fixed;
    top: 90px;
}

#search .wrap {
    width: 600px;
    height: 350px;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#search .item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #333;
    padding-bottom: 7px;
    margin-bottom: 35px;
}

#search .input {
    display: flex;
    align-items: center;
    gap: 12px;
}

#search .input input,
#search .input input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#search .item img {
    width: 28px;
}

/* 인기 검색어 */

#search .popular-search {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
}

#search .popular-search li {
    color: #333;
    margin-bottom: 12px;
}

#search .popular-search li:last-child {
    margin-bottom: 0;
}

#search .popular-search li span {
    color: #777;
    margin-right: 12px;
}

#search .popular-search li strong {
    display: block;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}


/*------------------ util 드롭다운 --------------------*/

#header .util li {
    position: relative;
}

#header .util .tab-menu  {
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(50%);

    width: 100px;

    border: 1px solid #ccc;
    background: #fff;
    color: #000;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;

    opacity: 0;

    transition: 0.2s ease-out;

    visibility: hidden;
}

#header .util .tab-menu a {
    display: block;
    text-align: center;
    width: 100px;
    font-size: 14px;
}

#header .util button:hover .tab-menu {
    opacity: 1;

    visibility: visible;
}

#header .util a:hover {
    opacity: 0.6;
}

/*------------------ mobile 드롭다운 --------------------*/

#mobile-tab-menu {
    white-space:nowrap;

    width: 320px;

    height: 100%;
    padding: 30px 35px;

    position: fixed;
    top: 0;
    right: 0;

    background: #fff;
    color: #000;

    border-left: 1px solid rgba(0,0,0,0.2);
}

#mobile-tab-menu .m-x {
    display: block;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

#mobile-tab-menu .m-x img {
    width: 28px;
}

#mobile-tab-menu .m-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    padding: 60px 0;
}

#mobile-tab-menu .m-nav li {
    width: 100%;
}

#mobile-tab-menu .m-nav li a {
    display: flex;
    justify-content: space-between;
    align-items: center ;

    font-size: 19px;
    font-weight: 600;
}

#mobile-tab-menu .m-nav li span {
    font-family: 'Copy';
    font-size: 16px;
    font-weight: 100;
    padding-top: 1px;
}

#mobile-tab-menu .m-util {
    display: flex;
    gap: 10px;
    padding-bottom: 60px;
}

#mobile-tab-menu .m-util li {
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    
    font-size: 14px;
}

#mobile-tab-menu .m-util a {
    display: inline-block;
    padding: 10px 15px;
}

#mobile-tab-menu .m-util li:last-child {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

#mobile-tab-menu .m-service {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#mobile-tab-menu .m-service li {
    display: flex;
    align-items: center;

    width: 100%;
    font-size: 16px;
    color: #333;
}

#mobile-tab-menu .m-service a {
    display: flex;
    align-items: center;
}

#mobile-tab-menu .m-service img {
    width: 18px;
    margin-right: 8px;
}

#mobile-tab-menu {
    opacity: 0;
    visibility: hidden;

    transition: 0.2s ease-out;
}

#mobile-tab-menu.active {
    opacity: 1;
    visibility: visible;

    overflow-y: auto;
    height: 100%;
    max-height: 100vh;
}

body.no-scroll {
    overflow: hidden;
}

/* ---------------------  FIXED HEADER CSS END -------------------- */

/* ---------------------  MAIN VISUAL -------------------- */

#main-visual {
    position: relative;

    width: 100%;
    height: 800px;

    overflow: hidden;

    transition: 0.5s
}

#main-visual .item {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    opacity: 0;

    transition: opacity 2s ease-out; /* 전체 아이템의 opacity 애니메이션 */
}

#main-visual .item:nth-child(1) {
    animation-delay: 0ms;
}

#main-visual .item:nth-child(2) {
    animation-delay: 2000ms;
}

#main-visual .item:nth-child(3) {
    animation-delay: 4000ms;
}

#main-visual .item:nth-child(4) {
    animation-delay: 6000ms;
}

#main-visual .item img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#main-visual .text {
    position: absolute;
    bottom: 60px;
    left: 60px;

    transition: 0.2s ease-out;
}

#main-visual .text h4 {
    color: #fff;
    font-weight: 500;
    font-size: 30px;

    margin-bottom: 10px;
}

#main-visual .text h3 {
    color: #fff;
    font-weight: 500;
    font-size: 35px;

    margin-bottom: 23px;
}

#main-visual .text p {
    display: inline-block;

    color: #333;
    font-size: 20px;

    padding: 18px 25px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;

    transition: opacity 0.2s ease;

    position: relative;
    z-index: 1;
}

#main-visual .text p:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* ---------------------  MAIN -------------------- */

/* ------ 섹션 01 ------ */

#section-01 {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#section-01 .wrap {
    display: flex;
    align-items: center;
    gap: 57px;
}

#section-01 .vertical-line {
    width: 1px;
    height: 63px;
    background: #d7d7d7;
}

#section-01 .item {
    text-align: center;
    white-space: nowrap;
}

#section-01 .item h3,
#section-01 .item p {
    margin-bottom: 12px;
}

#section-01 .item h3 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

#section-01 .item p {
    font-size: 17px;
    color: #666;
    transition: 0.2s ease-out;
}

#section-01 .item span {
    font-size: 16px;
    color: #666;
    transition: 0.2s ease-out;
}

#section-01 .item:hover p {
    color: #000;
}

#section-01 .item:hover span {
    color: #000;
    margin-left: 5px;
}

#section-01 .item:hover {
    cursor: pointer;
}

/* ------ 섹션 ------ */

/* 공통 스타일 */
#section-02,
#section-03,
#section-04 {
    padding: 0 60px;
    margin-bottom: 200px;
}

#section-02 .title,
#section-03 .title,
#section-04 .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#section-02 .title h3,
#section-03 .title h3,
#section-04 .title h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

#section-02 .title span,
#section-03 .title span,
#section-04 .title span {
    margin-left: 6px;
    font-weight: 500;
    color: #6F6F6F;
}

#section-02 .title p,
#section-03 .title p,
#section-04 .title p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    transition: 0.2s ease-out;
}

#section-02 .title p:hover,
#section-03 .title p:hover,
#section-04 .title p:hover {
    cursor: pointer;
    color: #000;
}

/* 공통 슬라이드 스타일 */
#section-02 .swiper-slide,
#section-03 .swiper-slide,
#section-04 .swiper-slide {
    width: 400px;
}

#section-02 .swiper-slide:hover,
#section-02 .swiper-slide:hover,
#section-02 .swiper-slide:hover {
    cursor: pointer;
}

#section-02 .swiper-slide img,
#section-03 .swiper-slide img,
#section-04 .swiper-slide img {
    width: 100%;
    object-fit: cover;
    transition: 0.2s;
}

#section-02 .swiper-slide img:hover,
#section-03 .swiper-slide img:hover,
#section-04 .swiper-slide img:hover {
    transform: rotate(4.5deg);
}

/* 공통 sub-text 스타일 */
#section-02 .sub-text,
#section-03 .sub-text,
#section-04 .sub-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    margin-bottom: 3px;
}

#section-02 .sub-text p:last-child::before,
#section-03 .sub-text p:last-child::before,
#section-04 .sub-text p:last-child::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 8px;
    background-color: #7F7F7F;
}

#section-02 .sub-text p:last-child,
#section-03 .sub-text p:last-child,
#section-04 .sub-text p:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    position: relative;
    display: inline-block;
    padding-left: 6px;
    margin-left: 6px;
}

/* 공통 가격 스타일 */
#section-02 .price,
#section-03 .price,
#section-04 .price {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    transition: 0.2s;
}

#section-02 .swiper-slide:hover .price,
#section-03 .swiper-slide:hover .price,
#section-04 .swiper-slide:hover .price {
    color: #C53F3F;
}

/* ------ 섹션 04 할인 ------ */

#section-04 .swiper-slide .base {
    font-size: 16px;
    color: #777;
    font-weight: 400;
    margin: 5px 0 3px;
    text-decoration: line-through;
}

#section-04 h3 span {
    margin-right: 6px;
    color: #C53F3F;
}

/* ------ 이벤트 페이지 ------ */

#event {
    padding: 0 60px;
    margin-bottom: 200px;
}

#event .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

#event .item {
    position: relative;

    cursor: pointer;

    width: 584px;
    height: 150px;

    padding: 15px 18px 15px 15px;
    border-radius: 14px;

    display: flex;
    align-items: center;

    border: 1px solid #d7d7d7;
    transition: 0.2s ease-out;
}

#event .item:hover {
    border: 1px solid #999999;
}

#event img {
    width: 120px;
    height: 120px;

    border-radius: 10px;

    object-fit: cover;
    margin-right: 22px;
    
    transition: 0.2s ease-out;
}

#event .item:hover img {
    transform: scale(106%);
}

#event .text {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#event .text h4 {
    width: 100%;

    font-weight: 600;
    font-size: 19px;
}

#event .text p {
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
}

#event .text span {
    width: 100%;

    font-weight: 300;
    font-size: 12px;
    color: #333;
}

#event .center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* ------ 쿠폰 페이지 ------ */

#coupon {
    padding: 0 60px;
    margin-bottom: 200px;
}

#coupon .wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 24px;
}

#coupon .item {
    width: 398px;

    transition: 0.2s ease-out;
}

#coupon .item p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

#coupon img {
    width: 100%;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

#coupon .item span {
    font-size: 14px;
    font-weight: 300;
    color: #777;
}

#coupon .center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* 이벤트, 쿠폰 공통 버튼 */

#event button,
#coupon button {
    padding: 20px 24px;
    border: 1px solid #c7c7c7;
    color: #333;
    transition: 0.2s ease-out;
    border-radius: 8px;
}

#event button:hover,
#coupon button:hover {
    background: #f1f1f1;
}


/* ------------------ FOOTER ------------------ */

#footer {
    width: 100%;
    padding: 25px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .left {
    width: 420px;
}

#footer .service {
    display: flex;
    gap: 23px;
    white-space: nowrap;
}

#footer .service li {
    font-size: 12px;
    font-weight: 600;
    color: #222;
    margin-bottom: 15px;
}

#footer .left p {
    font-size: 10px;
    font-weight: 500;
    color: #777;
    line-height: 1.5;
}

#footer .right p {
    font-family: 'Copy';
    font-size: 13px;
    color: #333;

    text-align: right;
    margin-bottom: 15px;
}

#footer .sns {
    display: flex;
    gap: 10px;
}

#footer .sns a {
    width: 25px;
}

#footer .sns img {
    width: 100%;
}
