@font-face {
    font-family: 'Britz';
    src: url('GangwonEduPowerExtraBoldA.eot');
    src: url('GangwonEduPowerExtraBoldA.eot?#iefix') format('embedded-opentype'),
        url('GangwonEduPowerExtraBoldA.woff2') format('woff2'),
        url('GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

